// Navigation Styles here


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.6rem;
        height: 80px;
        width: 100%;

        @media @mobile {
            height: 60px;
        }
        
    }
